{% extends "main/base.html" %}

{% block content %}
<div class="container">
	<div class="col-md-10 offset-md-1 mt-5">
		<div class="jumbotron">
			<h1 class="display-4">Jogador</h1>
			<p class="lead font-italic">*</p>
			<hr class="my-4">
			
			<div>
				<h2>
					Nome:
				</h2>
				<p>{{jogador.nome}}</p>
				<h2>
					Data Nascimento:
				</h2>
				<p>{{jogador.data_nasc}}</p>
				<h2>
					NIF:
				</h2>
				<p>{{jogador.nif}}</p>
				<h2>
					Telefone:
				</h2>
				<p>{{jogador.telefone}}</p>
				<h2>
					Email:
				</h2>
				<p>{{jogador.email}}</p>
				<h2>
					Morada:
				</h2>
				<p>{{jogador.morada}}</p>
				
			</div>
		
		</div>
	</div>
</div>

{% endblock content %}