{% extends "main/base.html" %}

{% block content %}
<div class="container">
	<div class="col-md-10 offset-md-1 mt-5">
		<div class="jumbotron">
			<h1 class="display-4">Jogos</h1>
			<hr class="my-4">
			
			<div>
				<h2>
					Jogo:
				</h2>
				<p class="lead font-italic">&emsp;{{jogo}}</p>
				<h2>
					Dia:
				</h2>
				<p class="lead font-italic">&emsp;{{jogo.dia}}</p>
				<h2>
					Hora:
				</h2>
				<p class="lead font-italic">&emsp;{{jogo.hora}}</p>
				<h2>
					Local:
				</h2>
				<p class="lead font-italic">&emsp;{{jogo.localizacao}}</p>
			</div>
			<div class="row button-row">
				<div class="col-md-10">
				
				</div>
				<div class="col-md-2">
					<a href="http://127.0.0.1:8000/jogo" class="btn btn-secondary btn-block btn-lg">
						<i class="fas fa-stream"></i> Back to list
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}