{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron">
            <h1 class="display-4"> Modalidades </h1>
            <p class="lead font-italic"> Lista de todas as modalidades </p>
            <hr class="my-4">
            <table class="table table-bordeless">
                <thead class="border-bottom font-weight-bold">
                <tr>
                    <td><h4>Modalidade</h4>  </td>
                    
                    <td></td>
                    <td>
                        <a href="{% url 'modalidade_novo' %}" class="btn btn-outline-dark">
                            <i class="fas fa-plus"></i> NOVO
                        </a>
                    </td>
                
                </tr>
                </thead>
                <tbody>
                {% for modalidade in modalidade_list %}
                <tr>
                    <td>{{modalidade.nome_modalidade}}</td>
                    <td>
                        <a href="{% url 'modalidade_update' modalidade.n_modalidade %}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                        <!--
                        <form action="#" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>-->
                    </td>
                    <td>
                        <a href="{% url 'modalidade_more' modalidade.n_modalidade %}" class="btn btn-outline-primary">
                            <i class="fas fa-plus"></i> INFO
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        
        </div>
    </div>
</div>

{% endblock content %}