{% extends "main/base.html" %}

{% block content %}


<div class="container">
	<br>
	<h1 class="display-4" align="center" > Trabalho Prático de Base de Dados 2 </h1>
	<div class="col-md-10 offset-md-1 mt-5">
		<hr class="my-4">
		
		<p class="lead font-italic" align="justify" >
		No âmbito da disciplina de Base de Dados II, foi pedido o desenvolvimento de uma aplicação Web para a gestão da atividade de um grupo desportivo.
		</p>
		<p class="lead font-italic" align="justify" >
			Esta aplicação Web faz uma listagem simplificada de todas as tabelas da base de dados, permitindo a algumas tabelas uma visualização completa dos
			dados da tabela, assim como uma atualização dos dados da mesma. Permite também a inserção de novos valores em todas as tabelas. No entanto apenas
			duas tabelas apresentam uma opção para apagar dados.
		
		</p>
	</div>
</div>
{% endblock content %}