{% extends "main/base.html" %}

{% block content %}
<div class="container">
	<div class="col-md-10 offset-md-1 mt-5">
		<div class="jumbotron">
			<h1 class="display-4">Substituição</h1>
			<p class="lead font-italic">*</p>
			<hr class="my-4">
			
			<div>
				<h2>
					Jogo:
				</h2>
				<p>{{substituicao.jogo}}</p>
				<h2>
					Jogador Que Entrou:
				</h2>
				<p>{{substituicao.jogador_entra}}</p>
				<h2>
					Jogador Que Saiu:
				</h2>
				<p>{{substituicao.jogador_sai}}</p>
				
			</div>
		
		</div>
	</div>
</div>

{% endblock content %}