{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron">
            <h1 class="display-4"> Tipos de Pontuação </h1>
            <p class="lead font-italic"> Lista de todos os tipos de pontuação </p>
            <hr class="my-4">
            <table class="table table-bordeless">
                <thead class="border-bottom font-weight-bold">
                <tr>
                    <td><h4>Modalidade</h4>  </td>
                    <td><h4>  Pontos Por Vitória </h4></td>
                    <td><h4>  Pontos Por Empate </h4></td>
                    <td><h4>  Pontos Por Derrota </h4></td>
                    <td></td>
                    <td>
                        <a href="{% url 'tipo_pontuacao_novo' %}" class="btn btn-outline-dark">
                            <i class="fas fa-plus"></i> NOVO
                        </a>
                    </td>
                
                </tr>
                </thead>
                <tbody>
                {% for tipo_pontuacao in tipo_pontuacao_list %}
                <tr>
                    <td>{{tipo_pontuacao}}</td>
                    <td>{{tipo_pontuacao.vitoria}}</td>
                    <td>{{tipo_pontuacao.empate}}</td>
                    <td>{{tipo_pontuacao.derrota}}</td>
                    <td>
                        <a href="{% url 'tipo_pontuacao_update' tipo_pontuacao.n_tipo_pontuacao %}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
 
                    </td>
                    <td>
                        <a href="{% url 'tipo_pontuacao_more' tipo_pontuacao.n_tipo_pontuacao %}" class="btn btn-outline-primary">
                            <i class="fas fa-plus"></i> INFO
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        
        </div>
    </div>
</div>

{% endblock content %}