{% extends "main/base.html" %}

{% block content %}
<div class="container">
	<div class="col-md-10 offset-md-1 mt-5">
		<div class="jumbotron">
			<h1 class="display-4">Tipo de Pontuação</h1>
			<p class="lead font-italic">*</p>
			<hr class="my-4">
			
			<div>
				<h2>
					Descrição:
				</h2>
				<p>{{tipo_pontuacao.descricao_tipo_pontuacao}}</p>
				<h2>
					Pontos em Caso de Vitória:
				</h2>
				<p>{{tipo_pontuacao.vitoria}}</p>
				<h2>
					Pontos em Caso de Derrota:
				</h2>
				<p>{{tipo_pontuacao.derrota}}</p>
				<h2>
					Pontos em Caso de Empate:
				</h2>
				<p>{{tipo_pontuacao.empate}}</p>
			</div>
		
		</div>
	</div>
</div>

{% endblock content %}