{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Ações Disciplinares</h1>
            <p class="lead font-italic">Lista de todos as ações disciplinares</p>
            <hr class="my-4">
            <table class="table table-bordeless">
                <thead class="border-bottom font-weight-bold">
                <tr>
                    <td><h4>Jogo</h4>  </td>
                    <td> <h4>Jogador</h4> </td>
                    <td> <h4> Tipo Ação </h4></td>
                    <td> <h4>Descrição</h4> </td>
                    <td></td>
                    <td>
                        <a href="{% url 'acao_novo' %}" class="btn btn-outline-dark">
                            <i class="fas fa-plus"></i> NOVO
                        </a>
                    </td>

                </tr>
                </thead>
                <tbody>
                {% for acao in acao_list %}
                <tr>
                    <td>{{acao.jogo}}</td>
                    <td>{{acao.jogador.nome}}</td>
                    <td>{{acao.tipo.descricao}}</td>
                    <td>{{acao.descricao}}</td>
                    <td>
                       <a href="{% url 'acao_update' acao.n_acao %}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                     
                         <form action="{% url 'acao_delete' acao.n_acao %}" method="post" class="d-inline">
                             {% csrf_token %}
                             <button type="submit" class="btn">
                                 <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                             </button>
                         </form>
                    </td>
                    <td>
                        <a href="{% url 'acao_more' acao.n_acao %}" class="btn btn-outline-primary">
                            <i class="fas fa-plus"></i> INFO
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock content %}