{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron">
            <h1 class="display-4"> Época </h1>
            <p class="lead font-italic"> * </p>
            <hr class="my-4">
            <table class="table table-bordeless">
                <thead class="border-bottom font-weight-bold">
                <tr>
                    <td> Campeonato </td>
                    <td> Época </td>
                    <td> Nº de Jogos </td>
                    
                    <td></td>
                    <td>
                        <a href="#" class="btn btn-outline-dark">
                            <i class="fas fa-plus"></i> NOVO
                        </a>
                    </td>
                
                </tr>
                </thead>
                <tbody>
                {% for epoca in epoca_list %}
                <tr>
                    <td>{{epoca.nome_campeonato}}</td>
                    <td>{{epoca.ano}} </td>
                    
                    <td>{{epoca.count}}</td>
                    <td>
                        
                        <!--
                        <form action="#" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>-->
                    </td>
                    <td>
                        <a href="#" class="btn btn-outline-primary">
                            <i class="fas fa-plus"></i> INFO
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        
        </div>
    </div>
</div>

{% endblock content %}